.tiles-wrapper {
  border:0px solid blue;
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 415px));
  margin-left: 30px;
}

.resource-tile {
  box-sizing: border-box;
  position: relative;
  border: .4px solid #666;
  border: 5px solid #987;
  border-radius: 25px;
  background-image: linear-gradient(to bottom right, #fff, #f5f5f5);
  background-image: linear-gradient(to bottom right, #f4f4f4, #ddd);
  background-image: linear-gradient(to bottom right, #fdf7e4, #f9efcc);
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.4);
  width: 400px;
  height: 400px;  
  margin-bottom: 25px;
   
}

.resource-tile-inner-shadow {
  box-sizing: border-box;
  box-shadow: inset 3px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 20px 30px; 
}

.resource-tile:hover {
  cursor:pointer;
  dbox-shadow: 0px 0px 9px 10px rgba(0, 0, 0, 0.3);
  border: 5px solid #b00;
}

.resource-tile-title {
  color: #555;
  font-size: 25px;
  margin:0;
  padding:0;
  height: 80px;
}

.resource-tile-description {
  height: 180px;
  font-weight: bold;
  color: #555;
  
}

.resource-tile-source {
  width: fit-content;
  height: 22px;
  max-width: 20px;
  overflow: hidden;  
  display: inline;
  font-weight: bold;
  text-align: right;
}

.resource-tile-date {
  height: 22px;
  display: inline; 
  margin-left: 14px;
}


.resource-tile-tags {
  height: 45px;
}

.resource-tag-label {
  background-color: #666;
  font-size: 14px;
  color: white;
  padding: -0px 7px 2px 7px;
  margin-left: 10px;
  font-family: var(--regular);
}

.resource-tile-roles {
  height: 21px;
}

.resource-role-label {
  color: #555;
  font-size: 16px;
  margin-left: 10px;
  font-family: var(--black);
}

.resource-role-label.AE {
  color: rgb(1, 194, 1);
}

.resource-role-label.SC {
  color: #f80;
}

.resource-role-label.XSC {
  color: rgb(255, 21, 21);
}

.resource-role-label.CSM {
  color: rgb(86, 125, 252);
}




.resource-tile-info {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 20px;
  right: 20px;
}

.resource-tile-info:hover {
  cursor:help;
}

.resource-tile-info:hover .resource-tool-tip {
  visibility: visible;
}

.resource-info-icon {
  width: 25px;
  bottom: 20px;
}

/* Tooltip */
.resource-tile-info .resource-tool-tip {
  visibility: hidden;
  font-family: var(--regular);
  width: 250px;
  padding: 8px 16px;
  background-color: rgba(55, 55, 55, 0.9);
  color: #fff;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -270px;
}

.resource-tile-info  .resource-tool-tip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Tooltip label */
.resource-tooltip-label {
  width: 100px;
  display: inline-block;

}

/* Tooltip value */
.resource-tooltip-value {
  width: 150px;
  display: inline-block;

}

.language-flag {
width: 38px;
margin-bottom: -12px;

}




.resource-tile > div {

  dborder: 0.3px solid #666;
}