.resource-tile {
  border: .4px solid #666;
  background-image: linear-gradient(to bottom right, #f7f7f7, #ddd);
  width: 400px;
  height: 400px;
  display: inline-block;
  margin: 20px;


}


main .faq dt {
  margin-top: var(--spacing-m);
  scroll-margin-top: var(--spacing-m);
  font-weight: 700;
  margin-bottom: var(--spacing-xxs);
}

main .faq a {
  scroll-margin: calc(var(--nav-height) + 1em);
}

main .faq dt > a {
  font-size: var(--heading-font-size-m);
  line-height: 2.5em;
  line-height: var(--type-heading-s-lh);
}

main .faq dd {
  font-size: var(--type-body-s-size);
  line-height: var(--type-body-s-lh);
}

body.guides-template main .faq dt a.anchor-link:any-link::before {
  top: 0;
}