/* header and nav layout */
header {
  box-sizing: border-box;
  background-image: linear-gradient(to bottom right, red, #a00);
  box-shadow:  0px 3px 5px rgba(0, 0, 0, 0.4);
  width: 100%;
  z-index: 2;
  position: fixed;
  margin: 0;
  padding: 40px;
  height: 130px;
}

header h1 {
  position: absolute;
  top: -10px;
  left: 416px;
  font-family: var(--heading-font-family);
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  text-shadow: rgb(0, 0, 0) 1px 1px 2px;
  color: rgb(255, 255, 255);
  scroll-margin: calc(var(--nav-height) + 1em);
  display: inline; 
}

header h2 {
  position: absolute;
  text-align: center;
  top: 70px;
  left: 280px;
  font-family: var(--regular);
  font-size: 14px;
  font-weight: bold;
  line-height: 15px;
  text-shadow: none;
  color: black;
  display: inline; 
}

#header-logo {
  position: fixed;
  width: 300px;
  height: 208px;
  right: 10px;
  top: -40px;
}

#edgybatch {
  position: fixed;
  width: 400px;
  left: 50px;
  top: 10px;
}

.header ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 5px;
  left: 510px;
}

.header li {
  float: left;
  
  margin-right: 25px;
}

.header li a, .header li a:link, .header li a:visited {
  color: rgba(255, 255, 255, 0.95);
  display: inline-block;
  font-family: fraktur;
  font-size: 25px;
  line-height: 58px;
  text-align: center;
  background-image: url(/images/schild-blue-empty.png);
  background-size: 174px 54px;
  width: 174px;
  height: 54px;
  text-decoration: none;
}

.header li a:link, .header li a:visited {
  color: rgba(255, 255, 255, 0.95);
}

.header li a:hover, .header li a:active  {
  cursor: pointer;
  color: #ffee00;
}

.header li a:active  {
  color: red;
}
