/* header and nav layout */
header {
  background-image: linear-gradient(to bottom right, red, #a00);
  box-shadow:  0px 3px 5px rgba(0, 0, 0, 0.4);
  width: 100%;
  z-index: 2;
  position: fixed;
  margin: 0;
  padding: 40px;
  height: var(--nav-height);
}

header h1 {
  position: absolute;
  top: -10px;
  left: 416px;
  font-family: var(--heading-font-family);
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  text-shadow: rgb(0, 0, 0) 1px 1px 2px;
  color: rgb(255, 255, 255);
  scroll-margin: calc(var(--nav-height) + 1em);
  display: inline; 
}

#header-logo {
  width: 320px;
  margin-right: 20px;
  margin-top: -20px;
  ffilter: drop-shadow(10px 3px 5px #777);
}


